@charset "UTF-8" ;

*{ padding: 0; margin: 0;}
li{ list-style: none; display: inline-block; height: 12px; line-height: 12px;


}


li:last-child{border-left: 2px solid #333;
padding-left: 8px; margin-left: 3px;
}

a{ text-decoration: none; font-size: 10px; color: gray; color: #333;
font-size: 12px; position: relative; top: -2px;}


button{ cursor: pointer; display: block;
width: 200px; height: 60px; border: none; margin: auto;  
background-color: rgb(57, 136, 255); color: #fff; font-size: 15px;
font-weight: bold;
}


body{background-color: rgb(195, 195, 195);}


.inputbox{
    width: 190px; height: 100px; margin-left: -5px;
    
}


h2{
    width: 100%;
    height: 100px; line-height: 100px; text-align: center ;
    font-size: 20px; font-weight: normal;
}


form{
    width: 50%; height: 450px;
    background-color: #fff;
    padding: 60px; box-sizing: border-box; margin: auto;
}


fieldset{ border: none;}


.inputbox label{
    display:block;  font-size: 12px; margin-bottom: 10px; color: #333;
}


.inputbox input{
    display: block;
    width: 100%; height: 50px;
    margin-bottom: 25px; 
    border: none; background-color: #d5d5d5;
    padding: 0 20px; box-sizing: border-box;
}


ul{
    width: 100%; text-align: right; margin-bottom: 60px ; padding: auto;
}


#id{
    width: 320%;
}


#PW{
    width: 320%;
}
